*{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    margin: 0;
    /* width:97.47vw; */
    height: auto;
    scroll-behavior:smooth;
}
#About,#aca,#ach,#contact,#Gal{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: justify;
    /* margin-left: 200px; */
    /* padding: 1px 16px; */
    padding-left: 100px;
    padding-right: 100px;
}
#About{
    padding-left: 100px;
    padding-right: 100px;
}
#aca{
    padding-top: 180px;
    height: 100%;
    /* background-color: rgb(68, 0, 0); */
    color: #f1f1f1;
}
/* #aca.active{
    height: 100vh;
} */
.n{
    display: inline-block;
    background-color: black;
    padding: 30px;
}
.n img{
    padding-bottom: 50px;
    padding-top: 30px;
    margin-top: -30px;
    display: inline;
    /* padding-bottom: 50px; */
    position: fixed;
    left:0;
}
.n p{
    display: inline;
    margin-top: -30px;
    /* margin-bottom: -45px; */
    font-size: 30px;
    position: fixed;
    left:45px;
    background-color: black;
    color: white;
    padding-right: 40%;
    padding-top: 25px;
    padding-bottom: 45px
}
.you{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: justify;
    height: 100vh;
}
.icons{
    background-color: black;
    padding-bottom: 50px;
    position: fixed;
    right: 0;
    padding-left: 40%;
}
img{
    width: 30px;
    height: 30px;
    background-color: black;
    border: none;
    text-decoration: none;
    padding: 10px;
    
}
.icons a:link{
    text-decoration: none;
    background-color: transparent;

}
img::after{
    content: none;
}
.name{
    /* margin-top: 80px; */
    word-spacing: 4px;
    letter-spacing: 2px;
    font-size: 20px;
    /* border:2px solid white; */
    background: rgba(128, 128, 128, 0.142) transparent;
    border-radius: 5px;
    padding: 5px;
    /* margin-left: 5px;
    margin-right: 5px; */
    /* margin-right: 200px; */
}
.name b{
    background-color: transparent;
}
.resh a{
    display: grid;
    /* column-gap: px; */
}


.info{
    /* margin-top:80px; */
    word-spacing: 4px;
    letter-spacing: 2px;
    font-size: 20px;
    background-color: transparent;
    color: white;
}
#Res.active{
    height: 100vh;
}
#Pub.active{
    height: 100vh;
}
#aca.active{
    height: 100vh;
}
/* #Res.active{
    height: 100%;
} */
.resh{
    height: 100vh;
}
.ext{
    height: 100vh;
}
.resh,.in,.pu{
    text-align: center;
    padding-top: 170px;
}
.resh a,.in a,.pu a{
    display:block;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
    border: solid rgba(0, 0, 0, 0.7);
    margin-bottom: 0px;
    padding: 7px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}
.pub{
    height: 100vh;
}
.ga,.ph,.con,.pat,.pro,.my,.my1,.my2,.my3,.my4,.my5,.my6{
    display: none;
}
.ex{
    height: 100vh;
}
.intro,.ext,.ion,.ex{
    display: block;
    align-items: center;
    text-align: justify;
    margin-top: 50px;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 20px;
}
.intro.active,.ext.active,.ion.active{
    display: none;
}
.nv,.xp,.ual{
    display: none;
}
.nv.active,.xp.active,.ual.active{
    display: block;
}
.qual,.Exp,.inv{
    margin-top: 10px;
    width: 90vw;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
}
.i:hover,#e:hover,#q:hover{
    cursor: pointer;
}
.my.active,.my1.active,.my2.active,.my3.active,.my4.active,.my5.active,.my6.active,.ga.active,.ph.active,.con.active,.pat.active,.pro.active{
    overflow-x: hidden;
    height: 30vh;
    overflow-y: scroll;
    transition: 0.4s;
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    padding-top: 5px;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 5px;
    word-spacing: 5px;
    letter-spacing: 2px;
    font-size: 20px;
}
.ga.active,.ph.active,.con.active,.pat.active,.pro.active{
    height: 50vh;
}
/* .ga.active,.ph.active,.con.active{
    margin-top: -2px;
} */
#contact{
    height: 20vh;
    display: grid;
    row-gap: 20px;
    /* border: 2px solid black; */
    margin-bottom: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
    /* border-radius: 5px; */
    /* box-shadow: 5px 10px 5px black; */
    font-size: 20px;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(168, 168, 168, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(168, 168, 168, 0.3);
}
#Gal{
    height: 100vh;
}

#Gal>p{
    margin-top: -150px;
    font-weight: bolder;
    font-size: 20px;
}
#Gal>div>div{
    margin-top: 25px;
    background: rgba(168, 168, 168, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(168, 168, 168, 0.3);
    height: 200px;
    width: 200px;
}
.mot1,.mot2,.mot3,.mot4,.mot5,.mot6,.mot7,.mot8{
    display:inline-grid;
    gap:5px;
}
#Gal>div{
}
#contact a,#contact p{
    background: transparent;
    text-decoration: none;
}
.cnt{
    margin-top: -60px;
}
.btn1:hover, .btn2:hover, .btn3:hover,.btn4:hover,.btn5:hover,.btn6:hover,.btn7:hover,.btn8:hover,.btn9:hover,.btn10:hover,.btn11:hover,.btn12:hover{
    cursor:pointer;
    padding-bottom: 10px;
    background-color: transparent;
    color: black;
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-weight: bold;
    transition: ease-out .4s;
    /* background-color: #ffffff;
    color: black;
    transition: 0.4s;
    font-weight: bold; */
}
.btn1.active,.btn2.active,.btn3.active,.btn4.active,.btn5.active,.btn9.active, .btn10.active, .btn11.active,.btn12.active,.btn6.active,.btn7.active,.btn8.active{
    background-color: transparent;
    color: black;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    font-weight: bold;

}
.btn1.active:hover,.btn2.active:hover,.btn3.active:hover,.btn4.active:hover,.btn5.active:hover,.btn6.active:hover,.btn7.active:hover,.btn8.active:hover,.btn9.active:hover,.btn10.active:hover,.btn11.active:hover,.btn12.active:hover{
    transition: .4s;
    text-decoration: none;
    font-size: 20px;
    border: solid black;
    border-radius: 5px;
    background-color: black;
    color: #ffffff;
}
/* @media(max-width:1250px){
    .list a{
        display: inline;
        font-size: 15px;
    }
}
@media(max-width:800px){
    .list{
        display: none;
    }
    /* .name{
        max-width: 350px;
    } */

/* .list{
    margin-top: 50px;
    position: absolute;
    left: 0;
    background-color: black;
    padding-right: 34.33%;
    padding-bottom: 10px;

}
.list a{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    background-color: blue;
    color: #f1f1f1;
    border-radius: 5px;
    margin: 5px;
    border: none;
}
.list a:hover{
    background-color: rgb(225, 225, 225);
    color: black;
    transition: 0.4s;
    transform:scale(1.1);
} */
.side{
    margin-top: 70px;
    padding-top: 15px;
    background-color: black;
    /* padding-left: 70.5%; */
    position: fixed;
    top:0;
    width: 100%;
    align-items:center;
    text-align: center;
    padding-bottom: 15px;
}
#btn{
    /* background-color: #f1f1f1; */
    display: inline-block;
    padding: 5px;
    background-color: transparent;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin: 5px;
    border: none;
    margin-right: 10px;
}
.side a{
    text-decoration: none;
    background-color: transparent;
}
.side a:hover{
    cursor: pointer;
    transition: .4s;
    transform: scale(1.1);
    margin: 3px;
}
.side button:hover{
    cursor: pointer;
    transition: .4s;
    transform: scale(1.1);
    margin: 3px;
}
/* .side button:focus{
    border: solid white;
    border-radius: 5px;
} */
#btn.active{
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border: solid rgba(211, 211, 211, 0.913);
    border-width: 1.4px;
    cursor: pointer;
    transition: .4s;
    transform: scale(1.2);
    border-bottom-style: solid ;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
/* .side button:hover{
    background-color: rgb(255, 255, 255);
    width: 98%;
    transition: 0.4s;
    cursor: pointer;
}*/
